<!DOCTYPE html>
{% extends "masterpage.html" %}
{% block connect %}
{% load static %}



<link rel="stylesheet" type="text/css" href="{% static 'css/buttonsusers.css' %}">

<html>
    <a href="addclasses.html" class="animated-button1">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        ADD CLASSES
      </a>
    </br>
</br>
<a href="addapartment.html" class="animated-button1">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    ADD APARTMENTS
  </a>
</br>
</br>
<a href="addscholarship.html" class="animated-button1">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    ADD SCHOLARSHIPS
  </a>
    
    </html>































    {%endblock connect%}
