<!DOCTYPE html>
{% extends "masterpage.html" %}
{% block connect %}
{% load static %}



<link rel="stylesheet" type="text/css" href="{% static 'css/buttonsusers.css' %}">

<html>
    <a href="adminsoftwar.html" class="animated-button1">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        SOFTWAR TABLES
      </a>
    </br>
</br>
<a href="admincivil.html" class="animated-button1">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    CIVI TABLES
  </a>
</br>
</br>
<a href="adminchemical.html" class="animated-button1">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
   CHEMICAL TABLES
  </a>
</br>
</br>
<a href="adminelectrical.html" class="animated-button1">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    ELECTRICAL TABLES
  </a>
</br>
</br>
<a href="adminmechanical.html" class="animated-button1">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    MECHANICAL TABLES
  </a>
</br>
</br>
</br>
</br>
</br>
</br>
</br></br>
</br>
</br>
{%endblock connect%}