<!DOCTYPE html>
{% extends "masterpage.html" %}
{% block connect %}
{% load static %}



<link rel="stylesheet" type="text/css" href="{% static 'css/buttonsusers.css' %}">

<html>
    <a href="wichuser.html" class="animated-button1">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        TO SIGNUP
      </a>
    </br>
</br>
<a href="wichlogin.html" class="animated-button1">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    TO LOGIN
  </a>
</br>
</br></br>
</br>
</br></br>
</br>

</br></br></br>
</br>

</br>


    </html>































    {%endblock connect%}
