<!DOCTYPE html>
{% extends "masterpage.html" %}
{% block connect %}
{% load static %}



<link rel="stylesheet" type="text/css" href="{% static 'css/buttonsusers.css' %}">

<html>
    <a href="SignUpStudent.html" class="animated-button1">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        SIGNUP STUDENT
      </a>
    </br>
</br>
<a href="SignUpUser.html" class="animated-button1">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    SIGNUP WORKER
  </a>
</br>
</br>
</br>


</br></br>
</br>
</br>
</br>
</br>
</br>


</br>
</br>


    
    </html>































    {%endblock connect%}
