<!DOCTYPE html>
{% extends "masterpage.html" %}
{% block connect %}
{% load static %}



<link rel="stylesheet" type="text/css" href="{% static 'css/buttonsusers.css' %}">

<html>
    <a href="Loginadmin.html" class="animated-button1">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        LOGIN ADMIN
      </a>
    </br>
</br>
<a href="Loginuser.html" class="animated-button1">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    LOGIN WORKER
  </a>
</br>
</br>
<a href="Loginstudent.html" class="animated-button1">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    LOGIN STUDENT
  </a>
    
    </html>































    {%endblock connect%}
