<!DOCTYPE html>
{% extends "masterpage.html" %}
{% block connect %}
{% load static %}



<link rel="stylesheet" type="text/css" href="{% static 'css/buttonsusers.css' %}">

<html>
    <a href="adminusers.html" class="animated-button1">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        USERS TEBLES
      </a>
    </br>
    </br>
    <a href="adminapartments.html" class="animated-button1">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        APARTMENTS TABLE
      </a>
    </br>
</br>
<a href="privateclassestables.html" class="animated-button1">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    PRIVATE CLASSES TEBLES
  </a>
</br>
</br>
<a href="adminscholarship.html" class="animated-button1">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
   SCHOLARSHIPS TEBLES
  </a>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>


</br>
</br>
</br>
</br></br>

{%endblock connect%}